<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Launches</h1>
    </div>
  </div>
  <div class="row align-items-end" *ngIf="pastLaunches$ | async as allLaunch">
    <div class="col-md-6 col-lg-4">
      <mat-card class="card" *ngFor="let launch of allLaunch"
      [routerLink]="['/', launch.id]">
        <mat-card-title>
          TEXT1
        </mat-card-title>
        <mat-card-subtitle>
          <p>{{ launch.flight_number }}</p>
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-icon-button target="_blank">
            <fa-icon [icon]="['fab','github']"></fa-icon>
          </a>
          <a mat-button target="_blank">
            <fa-icon icon="book"></fa-icon>
          </a>
          <a mat-button target="_blank">
            <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div> -->