<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 rtl class="main-heading">Rockets</h1>
    </div>

    <div>
    <div class="row" *ngIf="rocket" #loaded>
      <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let itemRocket of rocket">
          <div>
            <mat-card class="card" style="display: inline-block;">
                <mat-card-title>{{ itemRocket.rocket_name }}</mat-card-title>
                <mat-card-content>
                    <img class="col-md-12 img-fluid" src="{{ itemRocket.flickr_images }}" style="height: 250px;">
                    <p class="desc"><span>Description:</span><br>{{ itemRocket.description }}</p>
                    <a mat-stroked-button [routerLink]="['/itemRocket', itemRocket.rocket_id]">Read more...</a>
                </mat-card-content>
            </mat-card>
            <div id="last">&nbsp;</div>
      </div>
    </div>
  </div>     

  </div>
</div>

